<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://kit.fontawesome.com/06f85f1f52.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca:wght@700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/public/styles/editProfile.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"> </script>
</head>
<!-- -------------------------------- -->
<!-- body  -->

<body>
  <div id="first_container" class="container">
    <div class="blue"></div>
    <div class="header">
      <div class="img-container">
        <img src="image.jpg" alt="Image not found" />
      </div>
      <div class="content-container">
        <div class="bio-data">
          <div>
            <h1 class="editable-heading" data-id="1">Sarah James</h1>
            <h3 class="editable-heading" data-id="1">Full Stack Developer</h3>
            <h4 class="editable-heading" data-id="1">Los Angeles</h4>
          </div>
          <div>
            <h3 class="editable-heading" data-id="1">example@gmail.com</h3>
            <h3 style="margin: 8px 0" class="editable-heading" data-id="1">+92234567890</h3>
            <div>
              <button type="button" class="btn btn-warning btn-sm" id="submit-btn">Save Changes</button>
              <button type="button" class="btn btn-warning btn-sm">Resume</button>
              <button type="button" class="btn btn-warning btn-sm">Publish</button>
            </div>
          </div>
        </div>
        <div class="about">
          <h2 style="margin-top: 2rem;">About MySelf</h2>
          <p class="editable-heading" data-id="1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            voluptate, reiciendis perspiciatis praesentium nemo asperiores
            blanditiis labore odio soluta quod quae sed, dicta suscipit, at
            dolorum iure excepturi adipisci distinctio? reiciendis
            perspiciatis praesentium nemo asperiores blanditiis labore odio
            soluta quod quae sed, dicta suscipit, at dolorum iure excepturi
            adipisci distinctio?
          </p>
        </div>
      </div>
    </div>
    <div class="container body">
      <!-- dropdown for Skills  -->
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne">
              <h2>Skills:</h2>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <div class="icons">
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-pencil"></i>
              </div>
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="icons">
                        <i class="fa-regular fa-eye-slash" onclick="toggleVisibility(this)"></i>
                      </div>
                      <h5 class="card-title editable-heading" data-id="1">Card title</h5>
                      <p class="card-text editable-heading" data-id="1">This is a longer card with supporting text below
                        as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                      <p class="card-text editable-heading" data-id="1">This is a longer card with supporting text below
                        as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                        
                    </div>
                  </div>
                </div>
                <script src="/public/scripts/editProfile.js"></script>

                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="icons">
                        <i class="fa-regular fa-eye-slash" onclick="toggleVisibility(this)"></i>
                      </div>
                      <h5 class="card-title editable-heading" data-id="1">Card title</h5>
                      <p class="card-text editable-heading" data-id="1">This is a short card.</p>
                      <p class="card-text editable-heading" data-id="1">This is a longer card with supporting text below
                        as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                       
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo">
              <h2>Awards:</h2>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <div class="icons">
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-pencil"></i>
              </div>
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="icons">
                        <i class="fa-regular fa-eye-slash" onclick="toggleVisibility(this)"></i>
                      </div>
                      <h5 class="card-title editable-heading" data-id="1">Card title</h5>
                      <p class="card-text editable-heading" data-id="1">This is a longer card with supporting text below
                        as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                      <p class="card-text editable-heading" data-id="1">This is a longer card with supporting text below
                        as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                        
                    </div>
                  </div>
                </div>
                <script src="/public/scripts/editProfile.js"></script>

                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="icons">
                        <i class="fa-regular fa-eye-slash" onclick="toggleVisibility(this)"></i>
                      </div>
                      <h5 class="card-title editable-heading" data-id="1">Card title</h5>
                      <p class="card-text editable-heading" data-id="1">This is a short card.</p>
                      <p class="card-text editable-heading" data-id="1">This is a longer card with supporting text below
                        as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                        
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree">
              <h2>Projects:</h2>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <div class="icons">
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-pencil"></i>
              </div>
              <div class="card">
                <img src="https://codingyaar.com/wp-content/uploads/bootstrap-4-card-image-left-demo-image.jpg"
                  class="card-img-top" />
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <h5 class="card-title">
                        <h2 class="editable-heading" data-id="1">Card Title</h2>
                      </h5>
                    </div>
                    <div class="card_title col-6">
                      <h5 class="card-title">
                        <h5 class="editable-heading" data-id="1">Card Title</h5>
                      </h5>
                    </div>
                  </div>
                  <h5 class="card-title editable-heading" data-id="1">Card Title</h5>
                  <p class="card-text editable-heading" data-id="1">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                  </p>
                  <div class="icons">
                    <i class="fa-regular fa-eye-slash" onclick="toggleVisibility(this)"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseFour">
              <h2>Education:</h2>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
              <div class="icons">
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-pencil"></i>
              </div>
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="icons">
                        <i class="fa-regular fa-eye-slash" onclick="toggleVisibility(this)"></i>
                      </div>
                      <h5 class="card-title editable-heading" data-id="1">Card title</h5>
                      <p class="card-text editable-heading" data-id="1">This is a longer card with supporting text below
                        as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                      <p class="card-text editable-heading" data-id="1">This is a longer card with supporting text below
                        as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <script src="/public/scripts/editProfile.js"></script>

                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="icons">
                        <i class="fa-regular fa-eye-slash" onclick="toggleVisibility(this)"></i>
                      </div>
                      <h5 class="card-title editable-heading" data-id="1">Card title</h5>
                      <p class="card-text editable-heading" data-id="1">This is a short card.</p>
                      <p class="card-text editable-heading" data-id="1">This is a longer card with supporting text below
                        as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseFive">
              <h2>Career:</h2>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
              <div class="icons">
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-pencil"></i>
              </div>
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="icons">
                        <i class="fa-regular fa-eye-slash" onclick="toggleVisibility(this)"></i>
                      </div>
                      <h5 class="card-title editable-heading" data-id="1">Card title</h5>
                      <p class="card-text editable-heading" data-id="1">This is a longer card with supporting text below
                        as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                      <p class="card-text editable-heading" data-id="1">This is a longer card with supporting text below
                        as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                       
                    </div>
                  </div>
                </div>
                <script src="/public/scripts/editProfile.js"></script>

                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="icons">
                        <i class="fa-regular fa-eye-slash" onclick="toggleVisibility(this)"></i>
                      </div>
                      <h5 class="card-title editable-heading" data-id="1">Card title</h5>
                      <p class="card-text editable-heading" data-id="1">This is a short card.</p>
                      <p class="card-text editable-heading" data-id="1">This is a longer card with supporting text below
                        as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                        
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseSix">
              <h2>More About Sarah:</h2>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body">
              <div class="icons">
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-pencil"></i>
              </div>
              <p class="editable-heading" data-id="6">
                I am a skilled and experienced full stack developer with a passion for creating innovative and scalable
                web applications. With a strong background in both front-end and back-end development, I am proficient
                in a wide range of programming languages and frameworks, including JavaScript, Python, Ruby on Rails,
                and React.
                In my previous role as a full stack developer at ABC Company, I was responsible for designing and
                building new features for the company's web platform, as well as maintaining and optimizing existing
                features. I worked closely with the product and design teams to ensure that the platform was
                user-friendly and intuitive. I also led a team of junior developers, providing mentorship and guidance
                as needed.
                In addition to my technical skills, I am a proactive and collaborative team player who is able to
                effectively communicate and work with cross-functional teams. I am always seeking new challenges and
                opportunities to learn and grow as a developer. I am excited to bring my skills and experience to a new
                company and contribute to the success of a dynamic and innovative team
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- accordion -->
</body>

</html>