.u-section-1 .u-sheet-1 {
    min-height: 626px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 115px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 511px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 12px 0 0;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 511px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-family: "Lexend Deca";
    margin: 27px auto 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 343px;
    margin: 0 94px 0 88px;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: Inter;
    padding: 5px 57px 5px 56px;
  }
  
  .u-section-1 .u-btn-2 {
    border-style: solid;
    font-family: Inter;
    margin: -157px 134px 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-btn-3 {
    font-size: 1.125rem;
    background-image: none;
    font-weight: 700;
    font-family: Inter;
    margin: 76px auto 0 201px;
    padding: 5px 41px 7px 40px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 635px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-top: 129px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 506px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 506px;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      margin-top: 39px;
      margin-left: 130px;
    }
  
    .u-section-1 .u-form-1 {
      width: 383px;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: -158px;
      margin-right: 65px;
    }
  
    .u-section-1 .u-btn-3 {
      margin-top: 78px;
      margin-left: auto;
      padding-top: 4px;
      padding-bottom: 5px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 495px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 495px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 495px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3rem;
      margin-left: 100px;
    }
  
    .u-section-1 .u-form-1 {
      margin-top: 4px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-btn-1 {
      padding-right: 42px;
      padding-left: 40px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: -164px;
      margin-right: 9px;
    }
  
    .u-section-1 .u-btn-3 {
      margin-top: 89px;
      padding-top: 5px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 826px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 328px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 0;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 452px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 26px;
      margin-left: auto;
    }
  
    .u-section-1 .u-form-1 {
      width: 382px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: -157px;
      margin-right: 94px;
    }
  
    .u-section-1 .u-btn-3 {
      margin-top: 79px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 100vh;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-top: 103px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 304px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 405px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.5rem;
      margin-top: 25px;
    }
  
    .u-section-1 .u-form-1 {
      margin-top: 11px;
      width: 340px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: -160px;
      margin-right: 11px;
    }
  
    .u-section-1 .u-btn-3 {
      padding-left: 24px;
      padding-right: 24px;
    }
  } .u-section-2 {
    min-height: 127px;
  }
  
  .u-section-2 .u-image-1 {
    height: 125px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-family: "Lexend Deca";
    width: 831px;
    font-size: 2.25rem;
    margin: -81px auto 44px;
  }
  
  @media (max-width: 1199px) {
     .u-section-2 {
      min-height: 125px;
    }
  
    .u-section-2 .u-text-1 {
      width: auto;
      margin-top: -83px;
      margin-right: calc(((100% - 940px) / 2) + 3px);
      margin-left: calc(((100% - 940px) / 2) + 47px);
    }
  }
  
  @media (max-width: 991px) {
     .u-section-2 {
      min-height: 126px;
    }
  
    .u-section-2 .u-text-1 {
      font-size: 1.875rem;
      margin-left: 50px;
      margin-right: 50px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-2 {
      min-height: 124px;
    }
  
    .u-section-2 .u-text-1 {
      font-size: 1.5rem;
      margin-left: 44px;
      margin-right: 44px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-2 {
      min-height: 125px;
    }
  
    .u-section-2 .u-text-1 {
      width: 340px;
      margin: -92px auto 39px;
    }
  }