.u-section-1 .u-sheet-1 {
    min-height: 605px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 116px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 468px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-image-1 {
    height: 408px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 489px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-family: "Lexend Deca";
    font-weight: normal;
    margin: 16px auto 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 391px;
    width: 372px;
    margin: 2px 88px 0 110px;
  }
  
  .u-section-1 .u-form-group-1 {
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-4 {
    margin-top: 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: Inter;
    padding: 9px 52px 10px 51px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 388px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 386px;
    }
  
    .u-section-1 .u-image-1 {
      height: 328px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 403px;
    }
  
    .u-section-1 .u-form-1 {
      margin-left: 60px;
      margin-right: 38px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 348px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 489px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-image-1 {
      height: 280px;
      margin-top: 75px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 489px;
    }
  
    .u-section-1 .u-form-1 {
      width: 339px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-btn-1 {
      width: 43%;
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 894px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 421px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .u-section-1 .u-image-1 {
      height: 420px;
      margin-top: 0;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 474px;
    }
  
    .u-section-1 .u-text-1 {
      width: 228px;
      margin-top: 11px;
    }
  
    .u-section-1 .u-form-1 {
      margin-top: 6px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 688px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 265px;
    }
  
    .u-section-1 .u-image-1 {
      height: 264px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 430px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.875rem;
      width: 116px;
      margin-top: 6px;
    }
  
    .u-section-1 .u-form-1 {
      width: 326px;
      margin-top: 0;
    }
  
    .u-section-1 .u-btn-1 {
      font-size: 1rem;
    }
  } .u-section-2 {
    min-height: 127px;
  }
  
  .u-section-2 .u-image-1 {
    height: 125px;
    margin: 0;
  }
  
  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-family: "Lexend Deca";
    font-size: 2.25rem;
    margin: -83px 151px 44px;
  }
  
  @media (max-width: 1199px) {
     .u-section-2 {
      min-height: 125px;
    }
  
    .u-section-2 .u-image-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-text-1 {
      width: auto;
      margin-right: calc(((100% - 940px) / 2));
      margin-bottom: 43px;
      margin-left: calc(((100% - 940px) / 2) + 11px);
    }
  }
  
  @media (max-width: 991px) {
     .u-section-2 {
      min-height: 98px;
    }
  
    .u-section-2 .u-image-1 {
      height: 99px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-text-1 {
      font-size: 1.5rem;
      width: 623px;
      margin: -63px auto 36px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-2 {
      min-height: 88px;
    }
  
    .u-section-2 .u-image-1 {
      height: 84px;
      margin-top: 2px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-text-1 {
      width: auto;
      font-size: 1.25rem;
      margin: -53px 50px 33px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-2 {
      min-height: 78px;
    }
  
    .u-section-2 .u-image-1 {
      height: 74px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-text-1 {
      width: 340px;
      margin: -54px auto 12px;
    }
  }