* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);

}

body {
  background-color: #FBF3F2;
}

.icons {
  float: right;
}

h1 {
  font-family: 'Lexend Deca', sans-serif;
  color: #ffffff;
}

h2 {
  font-family: 'Inter', sans-serif;
  color: #1C768F;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: Bold;
  color: #000000;
}

h4 {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  font-weight: normal;

}

p {
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-weight: normal;

}

.row {
  padding: 0px;
  margin: 0px;
}

.col-xs-12 {
  margin-top: 2rem;
}

.icons i {
  margin: 0.2rem;
}

.btn,
btn-warning {
  background-color: #FA991C;
  color: white;
}

#first_container {
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 1rem 1rem 0 0;
  margin-top: 5rem;
  padding: 0;
  position: relative;
}

img {
  width: 90%;
  border: solid 1px black;
}


.img-container {
  border: 2px solid black;
  width: 10rem;
  height: 10rem;
  margin: 2rem;
}

#row_body {
  margin-top: 2rem;
  padding-left: 3rem;
  padding-right: 2rem;
  margin-bottom: 5rem;

}

#row_head {
  /* background-color: #032539; */
  background: linear-gradient(180deg, #032539 55%, #ffffff 50%);

  border-radius: 1rem 1rem 0 0;
}




.card {
  flex-direction: row;
  align-items: center;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.087));
}

.card-title {
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
}

#h5 {
  margin-top: -5px;
  font-size: 0.8rem;
}

.card,
h6 {
  font-size: 0.8rem;
}

.card,
p {
  margin-top: 4px;
  font-size: 0.8rem;
}

.card img {
  border: 1px solid black;
  border-radius: 15px 15px 15px 15px;
  margin: 1rem;
  width: 20vh;
}

a {
  text-decoration: none;
  color: black;
}

.card_title,
col-6 {
  text-align: right;
}

.card-1 {
  text-decoration: none;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.132);
}

.card-1:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.452);
}

.editable {
  outline: none;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: text;
}

@media only screen and (max-width: 600px) {
  img {
    width: 30%;
    margin: 1rem;
  }
  #row_head {
    /* background-color: #032539; */
    background: linear-gradient(180deg, #032539 70%, #ffffff 50%);
  
    border-radius: 1rem 1rem 0 0;
  }
  
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.7rem;
  }

  h4 {
    font-size: 0.6rem;
  }

  p {
    font-size: 0.6rem;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #row_head {
    /* background-color: #032539; */
    background: linear-gradient(180deg, #032539 56%, #ffffff 50%);
  
    border-radius: 1rem 1rem 0 0;
  }
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.7rem;
  }

  h4 {
    font-size: 0.6rem;

  }

  p {
    font-size: 0.6rem;
  }

}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 0.8rem;

  }

  p {
    font-size: 0.8rem;
  }


}


@media only screen and (max-width: 768px) {

  .card-body {
    padding: 0.5em 1.2em;
  }

  .card-body .card-text {
    margin: 0;
  }

  .card img {
    width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  .card img {
    width: 20%;
  }
}