table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    color: #333;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}  

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* nav- sets the display property, justify-content, align-items, etc */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

/* style links inside the navigation bar */
nav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

/* style links in navigation bar for hover state */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/*
This sets the text alignment for the h1 elements to center
*/
h1{
    text-align: center;
}

/*
This styles the form elements on the page. It sets the width to 80%, margins to 0 auto, padding to 30px, border-radius 
to 10px, and background-color to #f2f2f2
*/
form {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    
}

body > a{
    display: inline-block;
    margin-left: 120px;
    margin-top: 10px;
}


form label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
}

form input[type="text"], form input[type="email"], form input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

form input[type="submit"] {
    width: 100%;
    background-color: #1767d1;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

/* style submit button of the form */
form input[type="submit"]:hover {
    margin-top: 15px;
    background-color: #054bd7;
}

/* styling the text field of the form */
textarea{
    width: 95%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 20px;
}


/* style article's metadata like date of creation, last*/
.article_metadata{
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}